.header{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 100px;
}

.heading{
    font-size: 50px;
}

.paragraph{
    font-size: 50px;
}

.container{
    
position: absolute;
top: 200px;

}
/* Hero Video */
.heroSection {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .heroVideo {
    position: relative;
    width: 100%;
    height: 50%;
    z-index: 2;
    object-fit: cover;
  }

  .heroSection::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 850px;
    background-color: rgba(0, 0, 0, 0.749);
    backdrop-filter: blur(3px);
    top: 0;
    z-index: 3;
  }
